* {
    margin: 0;
    padding: 0;
}


.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.header,
.sidebar,
.content {
    border: 1px solid black
}


.sidebar {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 1;
}


.header {
    grid-column-start: 2;
    grid-column-end: 4;
}

.content {
    grid-column-start: 2;
    grid-column-end: 4;
}