* {
    margin: 0;
    padding: 0;
}


.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.header,
.sidebar,
.content {
    border: 1px solid black
}


.sidebar {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 1;
    display: grid;
    gap: 30px;
}

.content {
    grid-column-start: 2;
    grid-column-end: 4;
}


/* -------------------------------------- HEADER -------------------------------------- */

.header {
    grid-column-start: 2;
    grid-column-end: 4;
    display: grid;
}

.top-header, .bottom-header{
    display: grid;
    grid-template-columns: 2fr 1fr;
}



/*--------------------------------------SIDEBAR*/


.nav-1>ul,
.nav-2>ul {
    list-style-type: none;
}

li>a {
    text-decoration: none;
}