html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.content {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #111720;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 38px;
  font-weight: bold;
}

main {
  background-color: #222831;
  flex: 1;
}
